<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya:300,400,400i|Fira+Sans:300,400,500" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet" />
</head>
<body>


    <div class="wrap m-container">

        <div class="header">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li>
                            <a href="index.html" class="strikethrough stroked">Work</a>
                        </li>
                        <li>
                            <a href="about.html" class="strikethrough">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">

            <!--<div class="row">
                <div class="col-xs-8">-->
                <h1>
                    <div class="popup-stroke">Rolando Mathias<div class="hover-image-wrapper"><img src="img/hover1.jpg" /></div></div> is a Stockholm based,
                    Brooklyn bred, <div class="popup-stroke">Digital Designer<div class="hover-image-wrapper"><img src="img/hover2.jpg" /></div></div>
                    currently designing a fintech product
                    from scratch at Advinans.
                </h1>
                <!--</div>
            </div>-->

            <div class="section">
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <div class="img">
                            <img src="img/landing/image1.png" srcset="img/landing/image1@2x.png 2x, img/landing/image1@3x.png 3x" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h2>Advinans</h2>
                        <p>
                            A digital platform that offers proven investment strategies, tailored advice,
                            and high-quality financial services- all with low, transparent fees- to all of Sweden.
                            Comparable services were previously out of reach for most of the population.
                        </p>
                        <ul class="tags">
                            <li>EXPERIENCE DESIGN</li>
                            <li>VISUAL DESIGN</li>
                        </ul>
                        <a class="read-more" href="#">Read More
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="11" viewBox="0 0 25 11">
                                <path fill="#4C544E" fill-rule="nonzero" d="M18.906 0a.515.515 0 0 1 .347.159l5.237 5.347-5.237 5.346a.517.517 0 0 1-.492.142.506.506 0 0 1-.369-.348.493.493 0 0 1 .125-.487l4.069-4.153H.517a.512.512 0 0 1-.447-.248.491.491 0 0 1 0-.505.512.512 0 0 1 .447-.247h22.069L18.517.852a.493.493 0 0 1-.103-.556.511.511 0 0 1 .492-.295z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <div class="img">
                            <img src="img/landing/image2.png" srcset="img/landing/image2@2x.png 2x, img/landing/image2@3x.png 3x" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h2>Chelsea FC</h2>
                        <p>
                            A responsive web redesign for the global football club. I was apart of the small team of
                            designers, working with Chelsea’s in-house tech team, based in London for one month in 2016.
                        </p>
                        <ul class="tags">
                            <li>EXPERIENCE DESIGN</li>
                            <li>VISUAL DESIGN</li>
                        </ul>
                        <i>Project under NDA until launch.</i>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <div class="img">
                            <img src="img/landing/image3.png" srcset="img/landing/image3@2x.png 2x, img/landing/image3@3x.png 3x" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h2>Accessor</h2>
                        <p>
                            A desktop app redesign for a vehicle fleet management system. Accessor’s product allows
                            fleet managers to interact with their drivers, observe their vehicles, look up and assign
                            tasks- all in real time- in order to orchestrate jobs/trips.
                        </p>
                        <ul class="tags">
                            <li>EXPERIENCE DESIGN</li>
                        </ul>
                        <i>Case study coming soon.</i>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <div class="img">
                            <img src="img/landing/image4.png" srcset="img/landing/image4@2x.png 2x, img/landing/image4@3x.png 3x" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h2>Danish Fashion Institute</h2>
                        <p>
                            An experience map that visualizes the journeys leading up to, and during, the annual fashion
                            summit for all participant types. DFI’s goal was to optimize each participant’s experience
                            and plan the conference efficiently. Includes a number system to show overlapping
                            touchpoints and key onstage and backstage opportunities.
                        </p>
                        <ul class="tags">
                            <li>SERVICE DESIGN</li>
                            <li>VISUAL DESIGN</li>
                        </ul>
                        <i>No further reading.</i>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <footer>
        <div class="wrap m-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-left">
                        I love to connect with people, and I value feedback. If you’d like to talk design,
                        or if you have any comments on my <br>work, don’t be shy!
                    </div>
                    <div class="footer-right">
                        <ul>
                            <li>
                                <a href="#">E-mail</a>
                            </li>
                            <li>
                                <a href="#">LinkedIn</a>
                            </li>
                            <li>
                                <a href="#">Github</a>
                            </li>
                            <li>
                                <a href="#">Dribbble</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright">
                        Handcrafted
                        <img src="img/icon.png" srcset="img/icon@2x.png 2x, img/icon@3x.png 3x" alt="icon" />
                        Rolando Mathias
                    </div>
                </div>
            </div>
    </footer>

    <script src="js/script.min.js"></script>
</body>
</html>