//= partials/header.html

<div class="wrap m-container">

    <div class="header">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="index.html" class="strikethrough stroked">Work</a>
                    </li>
                    <li>
                        <a href="about.html" class="strikethrough">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <h1 class="home-header">
            Rolando Mathias
            <span>is a Stockholm-based<br>Product Designer</span>
        </h1>
    </div>
</div>


<div class="content home">

    <div class="section" id="case-1">
        <div class="section-row row">
            <div class="col-sm-7 col-xs-12 col-section-image">
                <div class="img case-1-img">
                    <img src="img/case-1.png" />
                    <img src="img/case-1-res.png" class="res" />
                </div>
            </div>
            <div class="col-sm-5 col-xs-12 col-section-content">
                <h2>EtherPool - Personal Project</h2>
                <h3 class="header-blue">An automated investment product that provides personal financial advice.</h3>
                <p>
                    One of two designers who created this fintech product from scratch. Advinans uses an algorithm to offer Swedes tailored investment
                    advice, as well as a platform to invest and manage finances.
                </p>
            </div>
        </div>
    </div>

    <div class="section reverse" id="case-2">
        <div class="section-row row">
            <div class="col-sm-7 col-xs-12 col-section-image">
                <div class="img case-2-img">
                    <img src="img/case-2.png" />
                    <img src="img/case-2-res.png" class="res" />
                </div>
            </div>
            <div class="col-sm-5 col-xs-12 col-section-content">
                <h2>Advinans - Swedish startup</h2>
                <h3 class="header-blue">An automated investment product that provides personal financial advice.</h3>
                <p>
                    One of two designers who created this fintech product from scratch. Advinans uses an algorithm to offer Swedes tailored investment
                    advice, as well as a platform to invest and manage finances.
                </p>
            </div>
        </div>
    </div>

    <div class="section" id="case-3">
        <div class="section-row row">
            <div class="col-sm-7 col-xs-12 col-section-image">
                <div class="img case-3-img">
                    <img src="img/case-3.png" />
                </div>
            </div>
            <div class="col-sm-5 col-xs-12 col-section-content">
                <h2>chelsea football club</h2>
                <h3 class="header-blue">A responsive web redesign for all content and video article types.</h3>
                <p>
                    Joined a team in London to give Chelsea FC a digital overhaul. I redesigned article and video layouts, including complementary
                    components, interactions, and share flows. I also kicked off user research into future offerings.
                </p>
            </div>
        </div>
    </div>

    <div class="section reverse" id="case-4">
        <div class="section-row row">
            <div class="col-sm-6 col-xs-12 col-section-image">
                <div class="img case-4-img">
                    <img src="img/case-4.png" />
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 col-section-content">
                <h2 class="text-uppercase">accessor - swedish startup</h2>
                <h3 class="header-blue">A fleet management app to orchestrate drivers and jobs in real time.</h3>
                <p>
                    One of two UX Designers. Accessor’s product allows fleet managers to interact with their drivers, track their vehicles, look
                    up and assign tasks- all in real time- in order to manage jobs, trips, and tasks.
                </p>
            </div>
        </div>
    </div>


</div>

//= partials/footer.html