* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: @base-text-color;
  font-size: @base-font-size;
  line-height: @base-font-size*1.5;
}

a,
a:visited {
  color: @base-text-color;
  text-decoration: none;
}

i {
  font-style: italic;
}

.wrap {
  max-width: @base-grid-width;
}

.m-container, .m-container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.m-container {
  padding: 0 25px;
  box-sizing: content-box;
}

.header {
  padding: 36px 0 0 0;
  /*padding-top: 103px;*/
  ul {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0;
    li {
      font-size: @base-font-size;
      list-style: none;
      display: inline-block;
      margin: 0 10px;
    }
    li.header-back-link {
      float: left;
      a {
        svg {
          margin-right: 2px;
          transition: transform .4s;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}

.container-section-full-width {
  padding-right: 0.5rem;
}

.content {

  padding: 115px 0 20px 0;

  &.content-full-width {
    padding: 0;
    margin: 0;
    .col-section-image {
      padding-right: 0;
      text-align: right;
      .img {
        max-width: 100%;
      }
    }
    .col-section-content {
      padding-top: 144px;
    }
  }

  h1 {
    font-size: @base-font-size*2;
    line-height: @base-font-size*3.5;
    max-width: 700px;
    margin: 0 0 158px 0;
    font-weight: 400;
    color: @base-text-color;

    .popup-stroke {
      box-shadow: inset 0px -9px 0px @color-accent;
      &:hover {
        box-shadow: inset 0px -4.6rem 0px @color-accent;
      }
    }

    .lead {
      font-size: 91px;
      font-weight: 700;
      margin-bottom: 35px;
      line-height: 91px;
      .popup-stroke {
        line-height: @base-font-size*4.6;
        &:hover {
          box-shadow: inset 0 -8rem 0px @color-accent;
        }
      }
    }

    .sub-lead {
      font-size: 54px;
      font-weight: 600;
      line-height: 70.5px;
      margin-bottom: 27px;
      .popup-stroke {
        line-height: @base-font-size*3;
        &:hover {
          box-shadow: inset 0 -5rem 0px @color-accent;
        }
      }
    }

    .sub-lead-text {
      font-size: 19px;
      line-height: 28.5px;
      color: @color-muted;
    }

  }

  .intro-paragraphs {
    font-size: @base-font-size*1.11;
    line-height: @base-font-size*1.66;
    max-width: 540px;
    margin-bottom: 100px;
    p {

    }
  }

  .section {
    margin: 0 0 241px 0;

    .col-section-content {
      padding-right: 24px;
    }

    .col-section-image + .col-section-content {
      padding-right: 0;
      padding-left: 24px;
    }

    .img {
      /*background-color: @color-placeholder;*/
      width: 100%;
      max-width: 619px;
      /*min-height: 402px;*/
      line-height: 0;
      font-size: 0;
      /*padding: 35px 0 0 35px;*/
      img {
        max-width: 100%;
        width: 100%;
      }
      /*&.img-color-gray {
        background-color: @color-image-bg-gray;
      }*/
    }
    h2 {
      /*font-size: @base-font-size*1.34;
      line-height: @base-font-size*2;*/
      font-family: "Inconsolata", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      font-size: 15px;
      line-height: 22.5px;
      color: @color-muted;
      margin: 0;
      font-weight: 500;
      position: relative;
      top: -38px;
    }
    h3 {
      font-size: 31.8px;
      font-weight: bold;
      line-height: 39px;
      text-align: left;
      margin: -30px 0 13px 0;
      &.header-blue {
        color: @color-blue-header;
      }
      &.header-red {
        color: @color-red-header;
      }
      &.header-green {
        color: @color-green-header;
      }
      &.header-tint {
        color: @color-tint-header;
      }
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 19px;
      line-height: 28.5px;
      margin-bottom: 20px;
      color: @color-muted;
      font-weight: 400;
    }
    ul.tags {
      margin: 0 0 24px 0;
      padding: 0;
      font-size: 0;
      /*line-height: @base-font-size*0.89;*/
      line-height: 0;
      li {
        list-style: none;
        text-transform: uppercase;
        color: @color-dark-red;
        display: inline-block;
        font-size: 15px;
        line-height: 22.5px;
        font-weight: 300;
        font-family: "Inconsolata", sans-serif;
        letter-spacing: 0.8px;
      }
      li + li {
        &::before {
          content: "·";
          color: @color-tags;
          font-size: @base-font-size*0.89;
          display: inline-block;
          padding: 0 5px;
          line-height: 0;
        }
      }
    }
    a.read-more {
      font-size: @base-font-size*1.11;
      color: @base-text-color;
      display: block;
      margin-top: 25px;
      svg {
        margin-left: 10px;
        transition: transform .4s;
      }
      &:hover {
        svg {
          transform: translateX(10px);
        }
      }
    }
    i {
      display: block;
      font-size: 19px;
      line-height: 28.5px;
      font-style: normal;
    }
  }

  .about-section {
    text-align: center;
    font-size: @base-font-size*1.33;
    line-height: @base-font-size*2;
    margin-bottom: 145px;

    .vertical-center {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: @base-font-size*1.11;
        line-height: @base-font-size*1.66;
        max-width: 300px;
        text-align: left;
      }
      .p-pad-left {
        padding-left: 90px;
        max-width: 390px;
      }

      .p-pad-right {
        padding-right: 90px;
        max-width: 390px;
      }
      .p-380-width {
        max-width: 380px;
      }

      #iphone_text {
        max-width: 540px;
      }

    }

    .p-justify-right {
      justify-content: flex-end;
    }

    .p-justify-left {
      justify-content: flex-start;
    }


    .col-picture {
      font-size: 0;
      line-height: 0;
      img {

      }
      /*&.text-left {
        text-align: left;
      }
      &.text-right {
        text-align: right;
      }*/
    }
    p.about-section-lead {
      font-size: @base-font-size*1.11;
      line-height: @base-font-size*1.66;
      max-width: 780px;
      margin: 0 auto 36px auto;
    }

    .img-subtitle {
      font-family: "Libre Baskerville", sans-serif;
      font-size: @base-font-size*0.88;
      line-height: @base-font-size*1.33;
      margin-top: 25px;
      text-align: center;
      /*padding: 0 25px;*/
      font-style: normal;
      font-weight: 300;
      &.d-max-300 {
        max-width: 297px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    ul.about-gallery {
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      text-align: center;
      li {
        list-style: none;
        display: inline-block;
        margin: 0 0 20px 0;
        vertical-align: top;
        img {

        }
        &:first-child {
          margin-right: 20px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .img-subtitle.subtitle-gallery-300 {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }

  }

}

footer {
  overflow: hidden;
  position: relative;

  &:before {
    /*position: absolute;
    content: ' ';
    width: 105%;
    height: 115px;
    background-color: #fff;
    top: -55px;
    left: 0;
    z-index: 2;
    transform: rotate(5deg);*/
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01192e+0,01192e+55,01192e+55,ffffff+55,ffffff+55,ffffff+100 */
    background: #01192e; /* Old browsers */
    background: -moz-linear-gradient(5deg, #01192e 0%, #01192e 55%, #01192e 55%, #ffffff 55%, #ffffff 55%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(5deg, #01192e 0%,#01192e 55%,#01192e 55%,#ffffff 55%,#ffffff 55%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(5deg, #01192e 0%,#01192e 55%,#01192e 55%,#ffffff 55%,#ffffff 55%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01192e', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 150px;
    z-index: 1;
  }

  background-color: @color-footer;
  width: 100%;
  padding: 150px 0 50px 0;
  color: @color-text-footer;
  font-weight: 300;
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 2;
    li {
      list-style: none;
      font-size: 19px;
      line-height: 27px;
      display: block;
      a, a:visited {
        color: @color-text-footer;
        text-decoration: underline;
      }
      a:hover {
        font-weight: 400;
      }
    }
    li + li {
      margin-top: 25px;
    }
  }
  .footer-left {
    float: left;
    width: 220px;
  }
  .footer-right {
    padding-left: 20px;
    margin-left: 220px;
  }
  .footer-links {
    padding-left: 60px;
  }
  .footer-title {
    font-size: 24px;
    line-height: 28.5px;
    color: white;
    font-weight: 600;
    margin-bottom: 18px;
    z-index: 2;
    position: relative;
  }
  .copyright {
    margin: 64px 0 0 0;
    text-align: center;
    font-size: @base-font-size*0.78;
    img {
      position: relative;
      top: 7px;
    }
  }
}

.strikethrough {
  position: relative;
}

.strikethrough:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #6B2D33;
  transition: width .2s ease,background-color .2s ease;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.strikethrough.stroked:after {
  width:100%;
}

.popup-stroke {
  display: inline-block;
  position: relative;
  box-shadow: inset 0px -6px 0px @color-accent;
  /*padding-bottom: 1px;*/
  transition: box-shadow .1s;
  .hover-image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    visibility: hidden;
    max-width: 166px;
    max-height: 141px;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    transition: opacity .25s;
    img {
      /*width: 100%;*/
      min-width: 110px;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: inset 0px -4.6rem 0px @color-accent;
  }
}

.popup-stroke.hovered .hover-image-wrapper {
  display: block;
  visibility: visible;
  opacity: 1.0;
}

#heart-svg {
  margin: 0 5px;
  position: relative;
  top: 2px;
  animation: heart 1s infinite;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#portfolio-link {
  color: @color-link-dark;
  font-size: @base-font-size*1.1;
  svg {
    transition: .4s;
  }
  &:hover {
    svg {
      transform: translateX(10px);
    }
  }
}

.about-page {

  .content {
    padding-top: 74px;
  }

  .about-section {
    p.about-section-lead {
      .popup-stroke {
        line-height: @base-font-size*1.6;
      }
    }
  }
  p {
    .popup-stroke {
      line-height: @base-font-size*1.6;
    }
  }
  .img-subtitle {
    .popup-stroke {
      line-height: @base-font-size*1.4;
    }
  }
  .intro-paragraphs {
    .popup-stroke {
      line-height: @base-font-size*1.5;
    }
  }
}