* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: @base-text-color;
  font-size: @base-font-size;
  line-height: @base-font-size*1.5;
}

a,
a:visited {
  color: @base-text-color;
  text-decoration: none;
}

i {
  font-style: italic;
}

.wrap {
  max-width: @base-grid-width;
}

.m-container, .m-container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.m-container {
  padding: 0 25px;
  box-sizing: content-box;
}

.header {
  padding: 36px 0 0 0;
  ul {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0;
    li {
      font-size: @base-font-size;
      list-style: none;
      display: inline-block;
      margin: 0 10px;
    }
    li.header-back-link {
      float: left;
      a {
        svg {
          margin-right: 2px;
          transition: transform .4s;
          position: relative;
          top: -1px;
        }
        &:hover {
          svg {
            transform: translateX(-10px);
          }
        }
      }
    }
  }
}

.content {

  padding: 130px 0 0 0;

  h1 {
    font-size: @base-font-size*2;
    line-height: @base-font-size*3.5;
    max-width: 638px;
    margin: 0 0 170px 0;
    font-weight: 400;
    .popup-stroke {
      line-height: @base-font-size*2.4;
    }
  }

  .intro-paragraphs {
    font-size: @base-font-size*1.11;
    line-height: @base-font-size*1.66;
    max-width: 619px;
    margin-bottom: 100px;
    p {

    }
  }

  .section {
    margin: 0 0 241px 0;
    .img {
      background-color: @color-placeholder;
      width: 100%;
      max-width: 619px;
      min-height: 402px;
      line-height: 0;
      font-size: 0;
      /*padding: 35px 0 0 35px;*/
      img {
        max-width: 100%;
        width: 100%;
      }
      /*&.img-color-gray {
        background-color: @color-image-bg-gray;
      }*/
    }
    h2 {
      font-size: @base-font-size*1.34;
      line-height: @base-font-size*2;
      margin: 0 0 24px 0;
      font-weight: 500;
      position: relative;
      top: -8px;
    }
    p {
      margin: 0;
      padding: 0;
      font-size: @base-font-size;
      line-height: @base-font-size*1.5;
      margin-bottom: 32px;
    }
    ul.tags {
      margin: 0 0 16px 0;
      padding: 0;
      font-size: 0;
      li {
        list-style: none;
        text-transform: uppercase;
        color: @color-tags;
        display: inline-block;
        font-size: @base-font-size*0.89;
      }
      li + li {
        &::before {
          content: "·";
          color: @color-tags;
          font-size: @base-font-size*0.89;
          display: inline-block;
          padding: 0 5px;
        }
      }
    }
    a.read-more {
      font-size: @base-font-size*1.11;
      color: @color-link-dark;
      display: block;
      margin-top: 43px;
      svg {
        margin-left: 12px;
        transition: transform .4s;
      }
      &:hover {
        svg {
          transform: translateX(10px);
        }
      }
    }
    i {
      display: block;
      font-size: @base-font-size*0.89;
      line-height: @base-font-size*0.89;
      font-family: 'Alegreya', serif;
    }
  }

  .about-section {
    text-align: center;
    font-size: @base-font-size*1.33;
    line-height: @base-font-size*2;
    margin-bottom: 160px;
    .vertical-center {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        max-width: 300px;
        text-align: left;
      }
    }
    .col-picture {
      img {

      }
      /*&.text-left {
        text-align: left;
      }
      &.text-right {
        text-align: right;
      }*/
    }
    p.about-section-lead {
      font-size: @base-font-size*1.33;
      line-height: @base-font-size*1.86;
      max-width: 780px;
      margin: 0 auto 36px auto;
    }

    .img-subtitle {
      font-family: "Alegreya", sans-serif;
      font-size: @base-font-size;
      line-height: @base-font-size*1.5;
      margin-top: 25px;
      text-align: center;
      padding: 0 25px;
      font-style: normal;
      font-weight: 400;
    }

    ul.about-gallery {
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      text-align: center;
      li {
        list-style: none;
        display: inline-block;
        margin: 0 0 20px 0;
        vertical-align: top;
        img {

        }
        &:first-child {
          margin-right: 20px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .img-subtitle.subtitle-gallery {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

  }

}

footer {
  background-color: @color-footer;
  width: 100%;
  padding: 90px 0 50px 0;
  color: @color-text-footer;
  font-weight: 300;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      line-height: @base-font-size*1.5;
      display: block;
      a, a:visited {
        color: @color-text-footer;
      }
    }
    li + li {
      margin-top: 18px;
    }
  }
  .footer-left {
    float: left;
    width: 220px;
  }
  .footer-right {
    padding-left: 20px;
    margin-left: 220px;
  }
  .copyright {
    margin: 64px 0 0 0;
    text-align: center;
    font-size: @base-font-size*0.78;
    img {
      position: relative;
      top: 7px;
    }
  }
}

.strikethrough {
  position: relative;
}

.strikethrough:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #6B2D33;
  transition: width .2s ease,background-color .2s ease;
  margin: 0;
  position: absolute;
  top: 50%;
}

.strikethrough:hover:after {
  width: 100%;
}

.strikethrough.stroked:after {
  width:100%;
}

.popup-stroke {
  display: inline-block;
  position: relative;
  box-shadow: inset 0px -9px 0px @color-accent;
  padding-bottom: 1px;
  transition: box-shadow .1s;
  .hover-image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    visibility: hidden;
    max-width: 166px;
    max-height: 141px;
    font-size: 0;
    line-height: 0;
    img {
      width: 100%;
    }
  }
  &:hover {
    box-shadow: inset 0px -4.6rem 0px @color-accent;
    cursor: pointer;
  }
}

.popup-stroke.hovered .hover-image-wrapper {
  display: block;
  visibility: visible;
}

#heart-svg {
  margin: 0 5px;
  position: relative;
  top: 2px;
  animation: heart 1s infinite;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#portfolio-link {
  color: @color-link-dark;
  font-size: @base-font-size*1.1;
  svg {
    transition: .4s;
  }
  &:hover {
    svg {
      transform: translateX(10px);
    }
  }
}

.p-380-width {
  max-width: 380px;
}