// Tablets in landscape mode <= 992px
@media screen and (min-width: @breakpoint-tablet-portrait) and (max-width: 1023px) {

  .about__header-text h2{
    font-size: 52px;
    line-height: 67px;
  }
  .about__header-text h4{
    font-size: 38px;
    line-height: 49px;
  }

  .p-group{
    max-width: 100%!important;
  }

  .about__header-img{
    visibility: visible;
    margin-right: 0;
    width:313px;
  }
  .about__content-app img{
    width:217px;
  }
  .about__content-app, .about__content-flight{
    max-width: 100%!important;
  }

  .header {
    padding-left: 39px;
    padding-right: 39px;
    ul {
      li {
        margin: 0 20px;
      }
    }

    h1 {
      margin-bottom: 223px;
      .lead {
        font-size: 70px;
        line-height: 63px;
        margin-bottom: 24px;
        .popup-stroke {
          box-shadow: inset 0px -6px 0px @color-accent;
          line-height: 60px;
        }
      }
      .sub-lead {
        font-size: 41px;
        line-height: 53.3px;
        margin-bottom: 24px;
        .popup-stroke {
          box-shadow: inset 0px -6px 0px @color-accent;
          line-height: 41px;
        }
      }
      .sub-lead-text {
        font-size: 18px;
        line-height: 27px;
      }
    }

  }




  .content {
    padding-left: 39px;
    padding-right: 39px;

    .section {

      .col-section-content {
        h2 {
          font-size: 14px;
          line-height: 21px;
        }
        h3 {
          font-size: 24.3px;
          line-height: 30.5px;
        }
        p {
          font-size: 17.5px;
          line-height: 27px;
        }
      }

      .col-section-content {
        padding-right: 0;
      }

      .col-section-image {
        display: flex;
        .img {
          align-self: center;
          padding-right: 0;
        }
      }

      .col-section-image + .col-section-content {
        padding-left: 10px;
      }

      p {
        font-size: @base-font-size*0.88;
        line-height: @base-font-size*1.33;
        margin-bottom: 16px;
      }
      ul.tags {
        margin-bottom: 20px;
        li {
          font-size: 14px;
          line-height: 21px;
        }
      }
      i {
        font-size: 18px;
        line-height: 27px;
      }
      .read-more {
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
      }
    }

  }

  .home-header{
    font-size: 70px!important;
    span{
      font-size: 41px!important;
      line-height: 53.3px;
    }
  }

  .content .section .col-section-image .img img{
    max-width: 628px;
  }

  .content .section .col-section-image .img{
    align-self: flex-end;
  }

  #case-1 .col-section-content,#case-3 .col-section-content{
      padding-right: 50px;
      padding-left: 0px;
  }

  .case-3-img img{
      max-width: 850px!important;
  }

  #case-2 .col-section-content{
    padding-left: 50px;
  }

  #case-4 .case-4-img img{
    max-width: 383px!important;
  }

  #case-4 .col-section-content{
    padding-left: 80px;
    padding-right: 30px;
  }
  #case-1 a{
    display: none;
  }

  .col-section-content{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container-section-full-width {
    .content-full-width {
      padding-left: 39px;
      .section {
        margin-bottom: 143px;
        .col-section-content {
          padding-top: 5px;
        }
        .col-section-image {
          padding-left: 20px;
          .img {
            max-width: 100%;
            overflow: hidden;
            position: relative;
            height: 100%;
            min-height: 578px;
            img {
              position: absolute;
              left: 0;
              top: 0;
              max-width: 10000px;
              width: 562px;
            }
          }
        }
      }
    }
  }

  .about-page {

    .leader-image-col {
      .image-title-left {
        left: -170px;
      }
      .image-title-right {
        right: -195px;
      }
    }

    .popup-stroke {
        .hover-image-wrapper {
          left: -200px;
        }
    }

    .content {
      .about-section {
        margin-bottom: 80px;

         p {
           font-size: 18px;
           line-height: 27px;
           .popup-stroke {
             line-height: 20px;
             box-shadow: inset 0 -4px 0 #70c186;
           }
         }

        .vertical-center {
          p {
            font-size: @base-font-size;
            line-height: @base-font-size*1.5;
            max-width: 260px;
          }
          #iphone_text {
            max-width: 312px;
          }
        }

        .img-subtitle {
          font-size: 15px;
          line-height: 22.5px;
          max-width: 152px;
          left: -172px;
          bottom: 40%;

          &.special-tablet-1 {
            left: -172px;
          }

          &.t-max-200 {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
          }
          &.t-max-260 {
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
          }
          br {
            display: none;
          }
          &.special-last {
            position: relative;
            display: block;
            width: 100%;
            left: auto;
            max-width: 308px;
          }
          .popup-stroke {
            line-height: 16px;
            box-shadow: inset 0 -4px 0 #70c186;
          }
          &.full-tablet {
            max-width: 422px;
            display: block;
            left: auto;
            bottom: auto;
            right: auto;
            width: 100%;
            position: relative;
          }
        }

        .col-picture {
          img {
            max-width: 422px;
          }
          &.full-width-tablets {
            .full-tablet {
              max-width: 100%;
            }
            img {
              max-width: 100%;
            }
          }
          &.text-left {
            text-align: left;
          }
          &.text-right {
            text-align: right;
          }
          #iphone_pic {
            max-width: 256px;
          }
          &.col-picture-tablet-small {
            img {
              max-width: 260px;
            }
          }
        }
        .about-section-lead {
          font-size: @base-font-size;
          line-height: @base-font-size*1.5;
          margin-bottom: 20px;
          max-width: 422px;
        }
        .about-gallery {
          li {
            img {
              max-width: 310px;
            }
            &.small-tables {
              img {
                max-width: 295px;
              }
            }
          }
        }
      }

    }

  }

  footer {
    .footer-links {
      ul {
        li {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
    .footer-title {
      font-size: 22px;
      line-height: 28.5px;
    }
  }

}

// Phone landscape and some tablets portrait <= 736px
@media (max-width: @breakpoint-tablet-portrait) {

  .about__header-img{
    visibility: visible;
    margin:0;
    width:100%;
  }

  .about__header-text{
    position: static;
  }

  .about__header{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 15px;
  }
  .about__content .p-group{
    max-width: 100%;
    margin-bottom: 20px;
  }

.img-group{
  img{
    margin: 0!important;
    margin-top:10px!important;
    width: 100%!important;
  }
}

.about__content-app{
  max-width: 100%;
  flex-direction: column-reverse;
  margin-top: 60px;
  img{
    width:100%;
  }
}

.about__content-flight{
  max-width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  p{
    max-width: 100%;
  }
  svg{
    width: 80px;
    height: 130px;
    float: right;
    margin:0;
    margin-top: -30px;
    margin-left: auto;
  }
}
.about__content-testimonial-text{
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0px;
}

.about__content-testimonial-text:before{
  width: 30px;
background-size: 100% auto;
top:18px;
left:26px;
}

.about__content-testimonial-text p{
  line-height: 24px;
}

 
.about__content-testimonial{
  flex-direction: column;
  margin-bottom: 60px;
}


.about__content-testimonial-avatar:before{
  display: none;
}

.about__content-testimonial-text span{
  text-align: left;
  margin-left: auto;
  margin-top: -13px;
  margin-bottom: 30px;
  max-width: 150px;
  position: relative;
  &:before{
    content: '“';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    /* background-size: 100% auto; */
    top: 0;
    left: -40px;
    line-height: 62px;
    font-size: 70px;
    // font-style: italic;
  }
}

.about__content-testimonial-text span small{
  line-height: 15px;
  margin-top: 5px;
}

.header h1{
  font-size: 38px!important;
  line-height: 49.4px!important;
  text-align: left;
  padding-left: 20px;
  span{
    padding-left: 0px;
    margin-top:0;
  }
}
.m-container{
  max-width: 100%;
  width:100%;
  padding:0!important;
}
.home-header span{
  font-size: 22px;
  line-height: 28.6px;
  text-align: left;
  float: right;
}

.col-section-content{
  padding-left: 20px!important;
  padding-right: 20px!important;
}

#case-2 .case-2-img img, #case-3 .case-3-img img{
  margin-top:50px;
}

#case-1 img,#case-2 img , #case-4 img{
  display: none!important;
}
#case-1 .res,#case-2 .res , #case-4 .res{
   display: block!important;
   max-width: 100%;
}
#case-1 .res{
  margin-top:35px;
}

#case-1 a{
  display: none;
}

.section-row{
  margin:0!important;
}

footer{
  padding: 0 70px!important;
  margin-top:30px;
  padding-bottom: 20px!important;
  .wrap{
    padding-top: 30px!important;
  }
}


.section{
  margin:0!important;
}

// footer{
//   padding: 40px 0 40px!important;
// }

footer .copyright{
  margin-top:40px;
}

footer .footer-title{
  margin-bottom: 30px;
}

footer ul{
  flex-direction: column;
  align-items: flex-start;
  li{
    color:#fff;
  }
}

.about__content-testimonial-avatar{
  margin-right: auto;
  margin-bottom: -54px;
}



.about__content-testimonial-avatar img{
  width: 86px;
}

  .about__content p,.about__content h4{
    font-size: 16px;
  }

  .about__content h4{
    margin:10px 0;
  }
  

  .about__header-text h2 {
    font-size: 30px;
    line-height: 38.8px;
   }

  .about__header-text h4{
    font-size: 20px;
    line-height: 25.5px;
    text-align: left;
    margin-top: -20px;
  }

  .header {
    height: 80vh;
    width: 100%;
    min-height: 400px;
  }

  .about-page {
    max-width: 100%;
    width:auto;
    padding: 0 25px!important;
    .header {
      height: auto;
      min-height: auto;
    }
  }

  .m-container {
    padding: 0 15px;
  }

  .container-section-full-width .content-full-width .section .row .col-section-content {
    padding: 0 8px;
  }

  .header {
    padding-left: 0;
    padding-right: 0;
    ul {
      padding-top: 0px;
      text-align: center;
      margin-bottom: 0px;
      li.header-back-link {
        float: none;
        text-align: left;
        display: block;
        margin: 0 0 47px 0;
        font-size: 16px;
      }
      li {
        margin: 0 23px;
        font-size: 16px;
      }
    }

    h1 {
      font-size: @base-font-size*1.35;
      line-height: @base-font-size*2;
      margin-bottom: 190px;
      .lead {
        /*font-size: 38px;*/
        font-size: 11vw;
        line-height: 45px;
        margin-bottom: 29px;
        .popup-stroke {
          box-shadow: inset 0px -5px 0px @color-accent;
          line-height: 8vw;
        }
      }
      .sub-lead {
        /*font-size: 28.5px;*/
        font-size: 6.5vw;
        /*line-height: 36.5px;*/
        line-height: 7.5vw;
        margin-bottom: 21px;
        .popup-stroke {
          box-shadow: inset 0px -5px 0px @color-accent;
          /*line-height: 30px;*/
          line-height: 5.5vw;
        }
        br {
          /*display: none;*/
        }
      }
      .sub-lead-text {
        font-size: 16px;
        line-height: 24px;
      }
    }

  }

  .content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;

    .section {
      margin-bottom: 119px;

      .col-section-image {
        padding: 0;
      }

      .col-section-image + .col-section-content {
        padding: 0;
      }

      .col-section-content {
        padding: 0;
      }

      .img {
        /*height: 340px;*/
        min-height: 0;
        background: none;
        max-width: 100%;
      }
      h2 {
        margin: 32px 0 24px 0;
        top: auto;
        position: relative;
        font-size: 13.5px;
        line-height: 18px;
      }
      h3 {
        margin: 0 0 19px 0;
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px;
      }
      a.read-more {
        margin-top: 24px;
      }
      ul.tags {
        margin-bottom: 24px;
        li {
          font-size: 13px;
          line-height: 18px;
        }
      }
      i {
        font-size: 17px;
        line-height: 30px;
      }
    }
  }

  .container-section-full-width {
    padding-left: 15px;
    .content-full-width {
      .section {
        margin-bottom: 143px;
        .col-section-content {
          padding-top: 5px;
          max-width: 100%;
        }
        .col-section-image {
          padding-left: 0;
          .img {
            max-width: 100%;
            overflow: hidden;
            position: relative;
            height: 100%;
            min-height: 495px;
            img {
              position: absolute;
              left: 0;
              top: 0;
              max-width: 10000px;
              width: 482px;
            }
          }
        }
      }
    }
  }

  footer {
    padding-top: 100px;
    padding-bottom: 20px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &:before {
      height: 100px;
    }
    .footer-left {
      font-size: @base-font-size*0.9;
      line-height: @base-font-size*1.35;
      width: 178px;
      br {
        display: none;
      }
    }
    .footer-title {
      font-size: 18px;
      line-height: 24px;
    }
    .footer-right {
      margin-left: 178px;
      padding-left: 70px;
    }
    .footer-links {
      ul {
        li {
          font-size: 16px;
          line-height: 27px;
        }
        li + li {
          margin-top: 5px;
        }
      }
    }
  }

  .popup-stroke {
    box-shadow: inset 0px -6px 0px @color-accent;
  }

  /* about */
  .about-page {

    .only-mobile {
      display: block;
    }

    .leader-image-col {
      position: relative;

      img {
        width: 100%;
      }

      .image-title {
        font-size: 16px;
        line-height: 24px;
      }

      .image-title-top {
        position: relative;
        display: block;
        top: auto;
        padding-bottom: 5px;
      }

      .image-title-left {
        display: none;
      }

      .image-title-right {
        display: none;
      }

      .image-title-mobile {
        display: block;
        text-align: center;
        width: 100%;
      }
    }

    .content {
      padding-top: 89px;
    }

    .about-section {
      margin-bottom: 60px;

      img {
        max-width: 100%;
      }
      .vertical-center {
        p {
          font-size: @base-font-size;
          line-height: @base-font-size*1.5;
          display: block;
          max-width: 100%;
          text-align: center;
          padding: 0;
          margin-top: 0;
          margin-bottom: 25px;
        }
        .p-pad-left {
          padding-left: 0;
        }

        .p-pad-right {
          padding-right: 0;
        }

        .p-380-width {
          max-width: 100%;
        }

      }

      p {
        font-size: 16px;
        line-height: 24px;
      }

      .p-justify-right {
        justify-content: center;
      }

      .p-justify-left {
        justify-content: center;
      }

      .img-subtitle {

        font-size: 14px;
        line-height: 19.5px;
        display: block;
        left: auto;
        position: relative;
        margin: 0;
        width: 100%;
        max-width: 100%;
        right: auto;

        padding-top: 10px;
        padding-bottom: 6px;

        &.subtitle-gallery {
          padding-top: 10px;
          padding-bottom: 6px;
        }

        &.subtitle-right {
          right: auto;
        }

        &.subtitle-left {
          left: auto;
        }

        &.special-width {
          max-width: 100%;
          width: auto;
          left: auto;
          &.subtitle-right {
            right: auto;
          }

          &.subtitle-left {
            left: auto;
          }
        }

        &.d-max-300 {
          max-width: 250px;
        }
        &.d-max-400 {
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }
        &.d-max-550 {
          max-width: 550px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .col-picture {
        text-align: center;
      }
      p.about-section-lead {
        font-size: 16px;
        line-height: 24px;
      }
      ul.about-gallery {
        li {
          margin: 0 0 8px 0;
          &:first-child {
            margin: 0 0 8px 0;
          }
          &:last-child {
            margin: 0 0 8px 0;
          }
        }
      }
    }

    p {
      br {
        display: none;
      }
      &.mobile-left {
        text-align: left;
      }
      &.mobile-right {
        text-align: right;
      }
    }

    .img-subtitle {
      br {
        display: none;
      }
    }

    /* strokes */
    .about-section {
      p.about-section-lead {
        .popup-stroke {
          line-height: 18px;
          box-shadow: inset 0 -4px 0 #70c186;
        }
      }
    }
    p {
      .popup-stroke {
        line-height: 15px;
        box-shadow: inset 0 -4px 0 #70c186;
      }
    }
    .img-subtitle {
      .popup-stroke {
        line-height: 17px;
        box-shadow: inset 0 -4px 0 #70c186;
      }
    }
    .intro-paragraphs {
      .popup-stroke {
        line-height: 18px;
      }
    }

  }

  .popup-stroke {
    .hover-image-wrapper {
      left: 0 !important;
    }
    &.hovered {
      .hover-image-wrapper {
        /*position: fixed;*/
        /*left: 0;
        right: 0;
        top: 40%;
        transform: translateY(-40%);*/
        max-width: 100%;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .hide-me-mobile {
    display: none !important;
  }

}

@media (max-width: 480px) {
  .header {
    h1 {
      .lead {
        font-size: 10.5vw;
        .popup-stroke {
          line-height: 9.5vw;
        }
      }
      .sub-lead {
        .popup-stroke {
          line-height: 6.8vw;
        }
      }
    }
  }
  .content {
    padding-top: 0px;
  }
}

// Small phones portrait <= 320px
@media (max-width: @breakpoint-phone-small) {
  footer {
    .footer-right {
      float: right;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

// Larger than phone landscape and tablets portrait
@media (min-width: 769px) {

  .header {
    ul {
      li.header-back-link {
        a {
          &:hover {
            svg {
              transform: translateX(-10px);
            }
          }
        }
      }
    }
  }

  .strikethrough:hover:after {
    width: 100%;
  }

}

// Intermediate between phone and table (and for landscape phones)
@media (min-width: 480px) and (max-width: @breakpoint-tablet-portrait) {
  .m-container {
    padding: 0 25px;
  }
  .container-section-full-width .content-full-width .section .row .col-section-content {
    padding: 0 10px;
  }
  .container-section-full-width {
    .content-full-width {
      .section {
        .col-section-image {
          .img {
            img {
              position: relative;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// 1261+
@media (min-width: @breakpoint-container) {
  .content-full-width {
    .col-section-content {
      max-width: 380px;
      padding-left: 24px;
      padding-right: 20px;
    }
    .col-section-image {
      /*max-width: 55%;*/
    }
  }
}


@media (min-width: @breakpoint-tablet-portrait) {
  .popup-stroke {
    position: relative;
    .hover-image-wrapper {
      margin: auto;
      width: auto;
      padding: 0;
      img {
        width: auto;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    height: 80vh;
    width: 100%;
  }
  .about-page {
    .header {
      height: auto;
    }
  }
}

@media (min-width: @breakpoint-wide) {
  .wrap {
    max-width: 1316px;
  }
  .header {
    ul {
      li {
        font-size: 25px;
        margin: 0 15px;
        &.header-back-link {
          font-size: 25px;
        }
      }
    }
    h1 {
      max-width: 985px;
      .lead {
        font-size: 128px;
        line-height: 91px;
        .popup-stroke {
          box-shadow: inset 0px -8px 0px @color-accent;
          line-height: 105px;
        }
      }
      .sub-lead {
        font-size: 75px;
        line-height: 98.8px;
        font-weight: 600;
        .popup-stroke {
          box-shadow: inset 0px -8px 0px @color-accent;
          line-height: 68px;
        }
      }
      .sub-lead-text {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
  .content {
    .section {
      .col-section-image {
        .img {
          max-width: 100%;
        }
      }
      .col-section-content {
        h2 {
          font-size: 19px;
          line-height: 28.5px;
          top: -45px;
        }
        h3 {
          font-size: 45px;
          line-height: 54.8px;
          margin-bottom: 25px;
        }
        p {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 32px;
        }
        ul.tags {
          li {
            font-size: 19px;
            line-height: 28.5px;
          }
        }
        a.read-more {
          font-size: 20px;
          line-height: 30px;
        }
        i {
          font-size: 24px;
          line-height: 36px;
        }
      }
    }
  }

  .container-section-full-width {
    .content-full-width {
      .col-section-content {
        padding-top: 200px;
        max-width: 100%;
      }
      .col-section-image {
        overflow: hidden;
        .img {
          img {
            width: 1000px;
            max-width: initial;
          }
        }
      }
    }
  }

  footer {
    &::before {
      height: 180px;
    }
  }

  .about-page {
    .leader-image-col {
      img {
        width: 642px;
      }
      .image-title-top {
        font-size: 31px;
      }
      .image-title-left {
        font-size: 31px;
        left: -210px;
      }
      .image-title-right {
        font-size: 31px;
        right: -241px;
      }
    }
    .intro-paragraphs {
      p {
        font-size: 24px;
        line-height: 36px;
      }
      img {
        width: 100%;
      }
    }

    .about__header-img{
      visibility: visible;
      width: 530px;
      margin-right:100px;
    }

    .about__header-text h2{
      font-size: 94px;
    }

    .about__header-text h4{
      font-size: 66px;
    }

    .about__content h4, .about__content p{
      font-size: 24px;
    }

    .about__content-flight p{
      font-size: 24px;
    }
    footer ul li a, footer ul li{
      font-size: 24px;
    }

  }

  footer {
    .footer-links {
      .footer-title {
        font-size: 32px;
        line-height: 28.5px;
        margin-bottom: 30px;
      }
      ul {
        li {
          font-size: 24px;
          line-height: 27px;
        }
      }
    }
  }

}