@base-text-color: #191919;
@base-font-size: 1.8rem;
@base-grid-width: 960px;

@color-accent: #70c186;
@color-placeholder: #d8d8d8;
@color-tags: #6b5658;
@color-link-dark: #4c544e;
@color-footer: #032942;
@color-text-footer: #ffffff;

@breakpoint-tablet: 992px;
@breakpoint-phone-landscape: 760px;
@breakpoint-phone-portrait: 737px;
@breakpoint-phone-small: 320px;

/*@color-image-bg-gray: #5d5e70;*/