@base-text-color: #191919;
@base-font-size: 1.8rem;
@base-grid-width: 960px;

@color-accent: #70c186;
@color-placeholder: #d8d8d8;
@color-tags: #6b5658;
@color-link-dark: #4c544e;
@color-footer: #ffffff;/*#032942;*/
@color-text-footer: #312038;
@color-muted: #6d736e;
@color-dark-red: #6b2d33;

@color-blue-header: #1d3461;
@color-red-header: #49392c;
@color-tint-header: #5d576b;
@color-green-header: #294d4a;

@breakpoint-tablet: 992px;
@breakpoint-tablet-portrait: 767px;
@breakpoint-phone-landscape: 760px;
@breakpoint-phone-portrait: 480px;
@breakpoint-phone-small: 320px;

@breakpoint-container: 1260px;
@breakpoint-wide: 1440px;

/*@color-image-bg-gray: #5d5e70;*/